.pl{
    font-size: 25px;
}

.pn{
    font-size: 20px;
    color: white;
}

.ph{
    font-size: 20px;
    color : green;
}

.mana{
    font-size: 20px;
    color: dodgerblue;
	border: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
    width: 50%;
}

.pl{
    font-size: 20px;
    color: red;
}

.pa{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.pde{
    font-size: 15px;
    color: white;
}

img{
    width: 1000000px;
    height: 600px
}

.Stat{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 30%;
}

.action{
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    height: 40%;
    width: 10%;
}

.describe{
    border: 1px solid white;
    display: flex;
    align-items: flex-start;
    background-color: black;
    height: 50%;
    width: 30%;
}


.health{
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
    width: 50%;
}

.name{
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 100%;
    width: 50%;
}

.titre{
    border: 1px solid darkblue;
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 6%;
    width: 10%;
    color: white;
}

.body {
    background-image: zone.png;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.chasse{
    display: flex;
    align-items: flex-end;
    width: 33%;
    height: 35%;
}

.megaaction{
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end
}